<div class="container pt-5">
    <div class="row justify-content-sm-center mobile-section">
        <div class="col-sm-6 col-md-5 col-lg-4 signIn-form">
            <div class="text-center">
                <img class="img-logo" src="./assets/images/Google-logo.png">
                <h1 class="">
                    Find your email
                </h1>
                <p class="font-weight-bold">Enter your phone number or recovery email</p>
            </div>
            <div class="login-section">
                <form class="form-signin">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Phone number or email</mat-label>
                        <input matInput placeholder="Phone number or email">
                    </mat-form-field>
                    <div class="d-flex justify-content-end mt-3">
                        <button class="btn next-btn" type="submit">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>