/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    color: #202124;
    font-family: 'Roboto', sans-serif;
}
.signIn-form{
    box-shadow: 0 1px 1px 2px #e0d7d7;
    padding: 50px;
    border-radius: 5px;
    .login-text{
        a{
            text-decoration: none;
            font-size: 14px;
            font-weight: 500;
        }
    }
    .next-btn{
        padding: 5px 25px;
        border-radius: 5px;
        color: #fff;
        background-color: #3770e0;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 14px;
        &:hover{
            color:#fff;
        }
    }
    .top-section{
        padding-left: 15px;
    }
    .login-section{
        padding: 0 15px;
    }
    .img-logo{
        width: 140px;
    }
    .side-logo{
        width: 100%;
    }
    .image-section{
        display: flex;
        align-items: center;
    }
}

//material-design-component//

.mat-form-field-wrapper {
    padding-bottom: 8px;
}
.mat-form-field-outline.mat-form-field-outline-thick,
.mat-form-field.mat-focused .mat-form-field-label,
.mat-form-field.mat-focused .mat-select-value {
  color: #2199e8 !important;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #2199e8 !important;
}


//Responsive-design//
@media (min-width: 1200px){
.container.signUP-form{
    max-width: 900px
}
}
@media (max-width:700px){
    .mobile-section{
        padding: 0 20px;
    }
    .signIn-form .image-section{
        display: none !important;
    }
    .signIn-form{
        margin: 0 !important;
        padding: 25px 0;
    }
}